h4 {
  color: white;
}

#header {
  background-color: lightblue;
  display: grid;
  grid-template-columns: repeat(4 1fr);
  grid-template-rows: repeat(4 1fr);
  height: 90vh;
  text-align: center;
  padding-top: 15em;
}
#interests {background: #f0e9d7;}
#contact {background-color: #f0e9d7;}
#skills {background-color: lightblue;
  height: 50vh;  
  padding-top: 60px;   
}

.myGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-gap: 5px;
}


/* .myGrid img {
  height: 200px;
  width: 75%;
  margin-left: 40px;
} */

@media (max-width:768px) {
  .myGrid {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(3, 1fr);
      grid-gap: 10px;
  }
  .mySubGrid {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(1, 1fr);
      grid-gap: 15px;
  }

}

@media (max-width:576px) {
  .myGrid {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(3, auto);  
      grid-gap: 10px;
  }
  .mySubGrid {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(3, auto);

  }

}

/* .prof {
  border-radius: 50%;
  padding-top: 20px;
} */
.grid-about {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* grid-template-rows: repeat(3, 1fr); */
  grid-gap: 55px;
  grid-template-areas: "profile hd-about hd-about"
                       "profile ab-text ab-text"
                       "profile ab-text ab-text";
}

.hd-about {
  grid-area: hd-about;
  /* grid-column: 1 / 2; */
}

.profile {
  grid-area: profile;
  padding-left: 20px;
}

.ab-text {
  grid-area: ab-text;
}

.grid-contact {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-gap: 100px;
}

.left {
  padding: 75px;
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-gap: 20px;
  grid-template-areas: "head head data web others"
                       "head head data web others"
                       "head head data web others";
}

.data {
  grid-area: data;
  /* grid-column: 1 / 4; */
 
}

.others {
  grid-area: others;
}
.data {
  grid-area: web;
  /* grid-column: 1 / 4; */
  
  
}

.head {
  grid-area: head;
  padding-left: 60px;
  padding-top: 50px;
  
}

