body {
background-color: gray;

}

h1 {
text-align: center;
}

.nan {
float: left;
width: 400px;
margin: 20px;
border: 1px solid black;
/* padding: 9px; */
padding-top: 0px;
background-color: gray;

}
.nan1 {
float: left;
width: 400px;
margin: 20px;
border: 1px solid black;
/* padding: 9px; */
padding-top: 0px;
background-color: gray;

}
.one {
padding-top:0px;
margin-top: 0px;
border: 1px solid black;
background-color: blue;
width: 100px;
float: right;
}
.two {
padding-top:0px;
margin-top: 0px;
border: 1px solid black;
background-color: yellow;
width: 100px;
float: right;
}
.three {
padding-top:0px;
margin-top: 0px;
border: 1px solid black;
background-color: orange;
width: 100px;
float: right;
}

p {
clear: both;
padding: 5px;
}


@media screen and (min-width:992px) {
body {
/* width: 100%; */
background-color: red;
}
}

@media screen and (max-width:991px) {
body {
    background-color: blue;
}

.nan {
width: 400px;
}
.nan1 {
width: 850px;
/* clear: both; */
}
}

@media screen and (max-width:767px) {
body {
    background-color: yellow;
}

.nan {
width: 400px;
}
.nan1 {
width: 400px;
}
}